* {
    box-sizing: border-box;
}

body {
    background-color: black; 
}

#header-title {
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Playball', cursive;
    margin-left: 20px; 
}
#welcome-card {
    /* width: 50%;  */
    display: flex;
    justify-content: left;
    align-items: flex-end;  
    height: 300px;
    background-size: cover;
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/negroni-cocktail-royalty-free-image-638677438-1567153315.jpg');
}

#main-message {
    background: rgba(255, 255, 255, 0.846);
    margin-bottom: 30px;  
    height: 220px;  
}

#random-drink-card,
#second-drink-cards,
#drink-cards {
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#second-instructions-btn,
#instructions-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#header-for-cards {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-button {
    margin-top: 15px;
}

#random-drink-card {
    margin-top: 50px;
    /* display: none; */
}